@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);





#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-0 .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#ext_menu-0 .nav-link {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-0 .nav-link SPAN {
  font-size: 18px;
}
#header4-2 B {
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
}
#header4-2 H1 {
  text-align: center;
}
#header4-2 .btn {
  font-family: 'Indie Flower', cursive;
}
#header4-2 P {
  color: #0275d8;
  font-family: 'Indie Flower', cursive;
}
#header4-2 I {
  font-size: 32px;
  color: #000000;
}
#footer1-c P {
  text-align: center;
}



#ext_menu-t .navbar-toggler {
  color: #000;
}
#ext_menu-t .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#ext_menu-t .nav-link {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-t .nav-link SPAN {
  font-size: 18px;
}
#footer1-u P {
  text-align: center;
}
#content5-x .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
}
#content5-x P {
  font-size: 30px;
}



#ext_menu-v .navbar-toggler {
  color: #000;
}
#ext_menu-v .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#ext_menu-v .nav-link {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-v .nav-link SPAN {
  font-size: 18px;
}
#footer1-w P {
  text-align: center;
}
#content1-y P {
  font-size: 22px;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}



#ext_menu-z .navbar-toggler {
  color: #000;
}
#ext_menu-z .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#ext_menu-z .nav-link {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-z .nav-link SPAN {
  font-size: 18px;
}
#footer1-10 P {
  text-align: center;
}
#form2-19 .btn {
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
}


#ext_menu-11 .navbar-toggler {
  color: #000;
}
#ext_menu-11 .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#ext_menu-11 .nav-link {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-11 .nav-link SPAN {
  font-size: 18px;
}
#footer1-12 P {
  text-align: center;
}


#ext_menu-13 .navbar-toggler {
  color: #000;
}
#ext_menu-13 .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#ext_menu-13 .nav-link {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-13 .nav-link SPAN {
  font-size: 18px;
}
#footer1-14 P {
  text-align: center;
}


#ext_menu-15 .navbar-toggler {
  color: #000;
}
#ext_menu-15 .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#ext_menu-15 .nav-link {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-15 .nav-link SPAN {
  font-size: 18px;
}
#footer1-16 P {
  text-align: center;
}



#form1-1h .mbr-section-title {
  color: #0275d8;
  text-align: right;
  font-size: 48px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#ext_menu-17 .navbar-toggler {
  color: #000;
}
#ext_menu-17 .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 23px;
}
#ext_menu-17 .nav-link {
  font-family: 'Indie Flower', cursive;
}
#ext_menu-17 .nav-link SPAN {
  font-size: 18px;
}
#footer1-18 P {
  text-align: center;
}
